.Layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Layout__body {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.Layout__primary-panel {
  flex: 1;
}

.Layout__toast-progress {
  margin-top: $pt-grid-size / 2;
  margin-bottom: 0;
}
