@import "~@blueprintjs/core/src/common/variables.scss";

.Playlists {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Playlists .bp3-menu {
  background-color: darken($pt-dark-app-background-color, 5%);
}

.Playlists__scroll-node {
  overflow-y: auto;
}
