@import "~@blueprintjs/core/src/common/variables.scss";

.Navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  padding: $pt-grid-size / 2;
  background-color: darken($pt-dark-app-background-color, 5%);
}
