.TopArtists {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $playlist-background-color;
}

.TopArtists__head {
  position: relative;
  padding: $pt-grid-size;
}

.TopArtists__head::after {
  content: "";
  position: absolute;
  height: 15px;
  bottom: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(
    to bottom,
    $playlist-background-color,
    rgba($playlist-background-color, 0)
  );
}

.TopArtists__tabs {
  margin-top: $pt-grid-size;
}

.TopArtists__tab {
  margin: 0;
}

.TopArtists__tracks {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
