@import "~@blueprintjs/core/src/common/variables.scss";

.PlaylistHead {
  display: flex;
}

.PlaylistHead__cover-art-image {
  margin-right: $pt-grid-size;
}

.PlaylistHead__controls {
  margin-top: $pt-grid-size;
}
