.PlaylistHead {
  position: relative;
  display: flex;
  padding: $pt-grid-size;
}

.PlaylistHead::after {
  content: "";
  position: absolute;
  height: 15px;
  bottom: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(
    to bottom,
    $dark-playlist-background-color,
    rgba($dark-playlist-background-color, 0)
  );
}

.PlaylistHead__cover-art-image {
  margin-right: $pt-grid-size;
}

.PlaylistHead__controls {
  margin-top: $pt-grid-size / 2;
}
