@import "../../styles/variables.scss";

.CoverArtImage {
  position: relative;
  color: $pt-dark-text-color-muted;
  background-color: $pt-dark-app-background-color;
}

.CoverArtImage,
.CoverArtImage img {
  height: 110px;
  width: 110px;
}

.CoverArtImage svg {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
