.PlaylistTracks {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PlaylistTracks td {
  box-shadow: none !important;
}

.PlaylistTracks__track {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
