@import "~@blueprintjs/core/src/common/variables.scss";

.Track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $pt-grid-size;
  background-color: $pt-dark-app-background-color;
}
