.Track {
  display: flex;
  padding: $pt-grid-size;
  background-color: $playlist-background-color;
}

.Track__cover-art-image,
.Track__cover-art-image img {
  height: 40px;
  width: 40px;
  margin-right: $pt-grid-size;
}

.Track__cover-art-image svg {
  height: 16px;
  width: 16px;
}

.Track__body {
  flex: 1;
}
