@import "~normalize.scss/normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
}

@import "../components/Entry/Entry.scss";
